.main-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0;
    margin: 0;
    color: #d9d9d9;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

.login-input{
    display: flex;
    flex-direction: column;
    margin-bottom: 3%;
}

.login-input{
    display: flex;
    flex-direction: column;
    margin-bottom: 3%;
}

.login-card {
  position: relative;  /* สำคัญถ้ามี ::before, ::after */
  background-color: #222222;
  border-radius: 10px;
  padding: 2rem;
  max-width: 500px;
  width: 40%;
  height: 40%;
  box-shadow:
    0 8px 32px rgba(255, 255, 255, 0.2),  /* แสงนวลจากบน */
    0 0 15px rgba(255, 255, 255, 0.15);   /* แสงรอบๆ card */
  color: white;
  z-index: 1;

}

.login-card input {
    background-color: #1a1a1a;
    border: 1px solid #333;
    color: #f0f0f0;
    padding: 0.75rem 1rem;
    border-radius: 6px;
    font-size: 1rem;
    transition: all 0.3s ease;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}


.login-card button {
    background-color: #1a1a1a;
    border: 1px solid #333;
    padding: 0.75rem 1rem;
    border-radius: 6px;
    color: #f0f0f0;
    font-size: 1rem;
    transition: all 0.3s ease;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    width: 100%;
}

@keyframes scaleUp {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
