.main-home{
    display: flex;
    flex-direction: column;
    width: 100%;
    color: aliceblue;
    align-items: center;
    height: 100vh;
      font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif; /* เลือก Font ที่ Modern */

}
.content-card{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1000px;
    padding: 1rem;
    gap: 1rem;
      box-sizing: border-box;  /* ป้องกัน padding ล้น */
    
}

.kanna-card{
    background-color: #2B2B2B;
    border: 1px solid #333333;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}

.news-card{
    width: 100%;
    border: 1px solid pink;
    
}

.hira-card{
    
    border-radius: 5px;
    border: 1px solid pink;
    height: 100%;
}
.kata-card{
    border-radius: 5px;
    border: 1px solid pink;
    
    height: 100%;
}