.header-container{
  color: aliceblue;
  /* border: 1px solid red; */
  width: 100%;
  display: flex;
  justify-content: center;

}

.header{
  display: flex;
  justify-content: space-between;
  width: 95%;
  /* border: 1px solid red; */

}

.logo{
  display: flex;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
  font-weight: bold;
  font-size: 20px;
}

.menu{
 display: flex;
 flex-direction: row;
 justify-content: flex-end;
 align-items: center;
 border-radius: 12px;
 /* border: 1px dotted red; */
 padding: 0;
 width: 40%;
}



.menu li{
  /* border: 1px dotted red; */
  background-color: #808080;
  display: flex;
  padding: 1rem;
  list-style: none;
  border-radius: 20px;
  margin-left: 5%;
}

@media (max-width : 420px){
.menu{
  flex-direction: column;
  /* border: 1px solid rgb(207, 171, 171); */
  padding: 0;
  align-items: flex-end;
}
.menu li{
  /* border: 1px solid red; */
  margin: 5px;
  padding: 0;
}
.header-container{
  font-size: 14px;
}
}