.main-news{
    color: white;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.news-list-card{

    border: 1px solid rgb(177, 9, 143);
}

.news-list{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-gap: 15px;
    border: 1px solid rgb(202, 233, 196);

}