.main-news{
    color: white;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.news-list{
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 2rem;
    width: 100%;
    max-width: 1000px;
    
}

.news-list-card{
    display: flex;
    padding: 1rem;
    flex-direction: column;
}

.news-image {
  width: 100%;
  height: auto;
  object-fit: cover; /* ป้องกันภาพบิดเบี้ยว */
  border-radius: 8px;   /* ทำให้มุมโค้ง */
}
